.grid-container {
  display: grid;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
