<a href="{{ root_url }}/">
  <img src="/images/portrait.png" title="STOP LOOKING AT ME!!!!" alt="Abe's ugly mug" style="float:left;margin:0 25px 0 0;" />
</a>
<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2 title="(that means I'm dumb)">{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>

<!-- Temporary fix for 12/2012 gist changes -->
<style type="text/css">
  .highlight {
    background: none !important;
  }
  .line_numbers {
    line-height: 18px;
    font-size: 13px;
  }
</style>